
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <section class="ftco-about d-md-flex">
        <div class="one-half img" style="background-image: url(images/about.jpg);"></div>
        <div class="one-half ftco-animate">
            <div class="heading-section ftco-animate ">
                <h2 class="mb-4">Hoş Geldiniz<span class="flaticon"> Hakkımızda</span> </h2>
            </div>
            <div>
                <p>Melidya  çikolata 1997 yılından itibaren günümüze uzanan bir çikolata serüvenidir. Çikolata da kaliteden asla taviz vermeyen Melidya kusursuzluğun yolculuğunu göstermektedir .Biz Melidya grup olarak çikolatanın tatlı hikayesini Türklerin simgesi haline gelen lokum ile buluşturdu. Melidya grup hem yurt içi hem de yurtdışı satış yapmaktadır. Her geçen gün yenilikçi ürünlerle gelişen ürünleriyle başarısını katlamaktadır</p>
            </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225.2389704359978!2d28.89127086362373!3d41.05499108200817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caba9c58b52789%3A0x6e0e5d71037247c4!2zWcO8Y2Utc295IEthxJ_EsXQgQW1iYWxhaiB2ZSBHxLFkYSDEsG7Fn2FhdA!5e0!3m2!1str!2str!4v1567894095221!5m2!1str!2str" width="575" height="350" frameborder="0" style="border:1;" allowfullscreen=""></iframe>
        </div>
    </section>